.App {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* eixo horizontal */
  align-items: center;     /* eixo vertical */
}

.container {
  width: 100%;
  max-width: 900px;
}

form{
  width: 500px;
  margin: 30px auto;

}

form input{
  margin-bottom: 5px;
}

form input[type="button"]{
  margin-top: 10px;
  margin: 5px;
}