.App {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 900px;
}

form {
  width: 500px;
  margin: 30px auto;
}

form input {
  margin-bottom: 5px;
}

form input[type="button"] {
  margin-top: 10px;
  margin: 5px;
}

.amount-income {
  color: green;
  font-weight: 600;
}

.amount-expense {
  color: red;
  font-weight: 600;
}